.h5p-vtab-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
.h5p-vtabs {
  float: left;
  width: 212px;
  position: relative;
  padding: 0;
}
.h5p-vtab-forms {
  margin-left: 217px;
}
.h5p-vtab-form {
  position: relative;
  display: none;
  margin: 0;
  border: none;
  padding: 0;
}
.h5p-vtab-form.h5p-current {
  display: block;
}
.h5p-vtab-form > .field {
  margin: 0;
}
.h5p-vtab-li,
.h5p-vtabs .h5p-placeholder {
  position: relative;
  padding: 0;
  margin: 0 0 3px 0;
}
.h5p-vtab-li.h5p-current:after,
.h5p-vtab-li.h5p-current:before {
  position: absolute;
  left: 199px;
  content: " ";
  width: 0;
  height: 0;
}
.h5p-vtab-li.h5p-current:before {
  top: -1px;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 13px solid #636164;;
}
.h5p-vtab-li.h5p-current:after {
  top: 1px;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 12px solid #747275;
}
.h5p-vtab-a {
  border: 1px solid #ccc;
  background: #fff;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 30px;
  margin: 0 12px 0 0;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.h5p-vtab-li.h5p-current .h5p-vtab-a {
  background: #747275;
  border: 1px solid #636164;
  color: #fff;
}
.h5p-placeholder > .h5p-vtab-a {
  background: #e8f2fa;
  border: dashed 2px #2782d1;
  height: 36px;
}
.h5p-vtabs > button {
  float: right;
  margin: 8px 14px 8px 8px;
}
.h5p-vtabs .h5p-moving {
  position: absolute;
  z-index: 1;
}
.h5p-vtabs .h5p-moving > .h5p-vtab-a {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.vtab-order-wrapper {
  position: absolute;
  top: 1px;
  left: 1px;
}
.vtab-order-wrapper > .order-up,
.vtab-order-wrapper > .order-down {
  width: 19px;
  height: 19px;
  background: #D0D0D1;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  text-align: center;
}
.vtab-order-wrapper > .order-down {
  top: auto;
  bottom: 1px;
}
.h5p-current > .vtab-order-wrapper > .order-up,
.h5p-current > .vtab-order-wrapper > .order-down {
  background: #636164;
}
.vtab-order-wrapper > .order-up[aria-disabled="false"]:hover,
.vtab-order-wrapper > .order-down[aria-disabled="false"]:hover {
  background: #DAD9DA;
}
.h5p-current > .vtab-order-wrapper > .order-up[aria-disabled="false"]:hover,
.h5p-current > .vtab-order-wrapper > .order-down[aria-disabled="false"]:hover {
  background: #5b595c;
}
.vtab-order-wrapper > .order-up:after,
.vtab-order-wrapper > .order-down:after {
  font-family: "H5P";
  content: "\e58e";
}
.vtab-order-wrapper > .order-down:after {
  content: "\e58f"
}
.h5p-current > .vtab-order-wrapper > .order-up:after,
.h5p-current > .vtab-order-wrapper > .order-down:after {
  color: #FFFFFF;
}
.vtab-order-wrapper > .order-up:before,
.vtab-order-wrapper > .order-down:before {
  right: auto;
  left: -5px;
}
.vtab-order-wrapper > .order-up[aria-disabled="true"],
.vtab-order-wrapper > .order-down[aria-disabled="true"] {
  cursor: default;
}
.vtab-order-wrapper > .order-up[aria-disabled="true"]:after,
.vtab-order-wrapper > .order-down[aria-disabled="true"]:after {
  opacity: 0.25;
}
.vtab-remove-wrapper {
  position: absolute;
  top: 1px;
  right: 12px;
}
.vtab-remove-wrapper > .remove {
  cursor: pointer;
  width: 1.25em;
  height: 38px;
  font-size: 1.75em;
  text-align: center;
}
.vtab-remove-wrapper > .remove:after {
  font-family: "H5P";
  content: "\e890";
  color: #454347;
  opacity: 0.7;
  display: inline-block;
  line-height: 38px;
}
.h5p-current > .vtab-remove-wrapper > .remove:after {
  color: #fff;
}
.vtab-remove-wrapper > .remove:hover:after {
  opacity: 1;
}

.h5peditor-button.add-entity {
  width: 200px;
  height: 40px;
  border: 1px dashed #ccc;
  color: #a0a0a0;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.h5peditor-button.add-entity:before {
  font-family: "H5P";
  content: "\e902";
  margin-right: 8px;
  font-weight: 400;
}

.h5p-vtab-form > .group > .content {
  border-top: 1px solid #D0D0D1;
  padding: 10px;
}
.h5p-vtab-form > .library {
  padding: 10px;
}
