// general
$form-background: #FCFCFC;
$form-border-color: #d0d0d1;

$primary: #1F67A8;
$primary-dark: #174D7D;
$subtle: #F5F5F5;
$muted: #EAEAEA;
$border-radius-small: 2px;
$spacing-xxs: 0.25rem; //4px;
$spacing-xs: 0.5rem; //8px;
$spacing-sm: 0.75rem; //12px;
$spacing-md: 1rem; //16px;
$spacing-lg: 1.5rem; //24px;
$spacing-xl: 2rem; //32px;
$spacing-xxl: 3rem; //48px;
$spacing-xxxl: 6rem; //96px;
$tertiary-light: transparent;

// importance high
$form-item-importance-high-background: #2579C6;
$form-item-importance-high-background-highlight: #3080c9;
$form-item-importance-high-border-color: #1f67a8;
$form-item-importance-high-background-hover: #1f67a8;
$form-item-importance-high-background-hover-highlight: #2a6fac;

// importance medium:
$form-item-importance-medium-background: #747275;
$form-item-importance-medium-background-highlight: #7b797c;
$form-item-importance-medium-border-color: #636164;
$form-item-importance-medium-background-hover: #636164;
$form-item-importance-medium-background-hover-highlight: #6b696c;

// importance low:
$form-item-importance-low-background: #f5f5f5;
$form-item-importance-low-background-highlight: #eeeeef;
$form-item-importance-low-border-color: #d0d0d1;
$form-item-importance-low-background-hover: #deddde;
$form-item-importance-low-background-hover-highlight: #deddde;

// tabs
$tabs-width: 212px;
$tabs-width-collapsed: 60px;

// dropzone colors
$tab-dropzone-border: #2782d1;
$tab-dropzone-background: #e8f2fa;


@mixin button {
  border-radius: $border-radius-small;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: $spacing-xs;

  &:hover,
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: revert;
  }
}

@mixin button-tertiary {
  @include button;

  & {
    border: solid 1px transparent;
    background: $tertiary-light;
    color: $primary;
  }

  &:hover,
  &:focus-visible {
    background: $subtle;
  }
}